.two{
    position:absolute;
    margin-top:85px;
    padding-top: 30px;
    color: var(--text-color);
    left:2vw;
    height:200px;
    width:47.6vw;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    text-align: center;
}
.two h1,h2{
    padding: 1px;
}